.profile__add-button {
  width: 150px;
  height: 50px; 
  aspect-ratio: 1 / 3;
  border: 2px solid #FFFFFF;
  background-color: #000000;
outline: 2px solid red; 
margin: 35px 0;
display: flex;
align-self: right;
align-items: center;
justify-content: center;
margin-left: auto;
padding: 0;
}