.popup__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    z-index: 2;
  box-shadow: 0 0 25px 0;
  margin: 90px auto;
  padding: 0;
  
}