.popup__save-button {
  max-width: 358px;
  width: 100%;
  max-height: 50px;
  background: #000000;
  border-radius: 2px;
  margin: 48px 36px 37px;
  padding: 14px 124px 18px 125px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 450px) {
  .popup__save-button {
    max-width: 238px;
    max-height: 46px;
    margin: 45px auto 25px;
    padding: 14px 82px;
    font-size: 14px;
    line-height: 17px;
  }
}
