.profile__avatar {
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
  margin: 0;
  align-self: center;
}

@media screen and (max-width: 450px) {
  .profile__image {
    margin: 0 auto;
    justify-self: center;
  }
}
