.element__like-button {
  border: none;
  background-image: url(../../../images/Group-2.svg);
  background-repeat: no-repeat;
  background-size: 19px 22px;
  background-position: center;
  background-size: contain;
  background-color: white;
  min-width: 22px;
  margin: 0;
  padding: 0;
  vertical-align: center;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.element__like-button:hover {
  opacity: 0.8;
}
