.element__like-button {
  background-image: url('../../../images/like-icon.png');
  background-repeat: no-repeat;
  background-size: 19px 22px;
  background-position: center;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  min-width: 22px;
  margin: 0;
  padding: 0;
  vertical-align: center;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.element__like-button:hover {
  opacity: 0.8;
}
