.profile__info {
    max-width: 336px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 24px;
    grid-template-rows: 1fr 18px;
    column-gap: 18px;
    row-gap: 16px;
    margin: 22px 244px 25px 30px;
    outline: 2px solid red;
}

@media screen and (max-width: 1150px) {
    .profile__info {
        margin: 18px 180px 22px 25px;
    }
  }

  @media screen and (max-width: 903px) {
    .profile__info {
        margin: 16px 80px 20px 21px;
    }
  }